html {
  background-color: green;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif; 
}

ul {
  background: red;
  padding: 10px;
  border: 1px solid black;
}

li {
  margin-left: 20px;
}
